.main-page{
    /*border: 5px ridge lightgray;*/
    text-align: center;
}
.heading{
    text-align: center;
    font-family: cursive;
}
h1{
    text-decoration: underline;
}
button{
    width: 80px;
}